<!DOCTYPE html>
<html>

<head>
  <title>真品生活</title>
  <link rel="stylesheet" href="css/common.css">
  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="css/iconfont.css">
  <link rel="stylesheet" href="css/swiper.min.css">
  <link rel="stylesheet" href="css/slide.css">
  <link rel="stylesheet" href="css/footer.css">
</head>

<body>
  <%-include('./header.html')%>
  <section>
    <!-- 轮播图 -->
    <div class="big-slide">
      <div class="warp small-slide">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="imgs/slide.jpg" alt="">
            </div>
            <div class="swiper-slide">
              <img src="imgs/slide.jpg" alt="">
            </div>
          </div>
          <!-- 如果需要分页器 -->
          <div class="swiper-pagination"></div>

          <!-- 如果需要导航按钮 -->
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
    </div>
    <!-- 分区 -->
    <div>
      <div class="warp">
        <div class="ad-slide-img">
          <div class='ad-conter l'><img src="imgs/ad-slide1.jpg" alt=""></div>
          <div class='ad-conter l'><img src="imgs/ad-slide2.jpg" alt=""></div>
          <div class='ad-conter l'><img src="imgs/ad-slide3.jpg" alt=""></div>
          <div class='ad-conter l'><img src="imgs/ad-slide4.jpg" alt=""></div>
        </div>
      </div>
    </div>
    <!-- 人气推荐 -->
    <div class="floor-list">
      <div>
        <div class="ab-hd">
          人气
          <span>/</span>
          <span>推荐</span>
        </div>
        <div class="ab-img">
          <a href="javascript:;">
            <img src="imgs/ad-center.jpg" alt="">
          </a>
        </div>
        <div class="ab-show">
          <ul>
            <li>
              <div class="ab-part-img">
                <a href="javascript:;">
                  <img src="imgs/meijiu.jpg" alt="">
                </a>
              </div>
              <div class="ab-part-text">
                <h4>普拉迪克桃红葡萄酒PRADIGNAC</h4>
                <div class="ab-des">
                  <span>单支装</span>
                </div>
                <ins>￥84.50</ins>
                <span>/</span>
                <del>￥84.50</del>
                <span class="r">
                  加入购物车
                </span>
              </div>
            </li>
            <li>
              <div class="ab-part-img">
                <a href="javascript:;">
                  <img src="imgs/meijiu.jpg" alt="">
                </a>
              </div>
              <div class="ab-part-text">
                <h4>普拉迪克桃红葡萄酒PRADIGNAC</h4>
                <div class="ab-des">
                  <span>单支装</span>
                </div>
                <ins>￥84.50</ins>
                <span>/</span>
                <del>￥84.50</del>
                <span class="r">
                  加入购物车
                </span>
              </div>
            </li>

            <li>
              <div class="ab-part-img">
                <a href="javascript:;">
                  <img src="imgs/meijiu.jpg" alt="">
                </a>
              </div>
              <div class="ab-part-text">
                <h4>普拉迪克桃红葡萄酒PRADIGNAC</h4>
                <div class="ab-des">
                  <span>单支装</span>
                </div>
                <ins>￥84.50</ins>
                <span>/</span>
                <del>￥84.50</del>
                <span class="r">
                  加入购物车
                </span>
              </div>
            </li>

            <li>
              <div class="ab-part-img">
                <a href="javascript:;">
                  <img src="imgs/meijiu.jpg" alt="">
                </a>
              </div>
              <div class="ab-part-text">
                <h4>普拉迪克桃红葡萄酒PRADIGNAC</h4>
                <div class="ab-des">
                  <span>单支装</span>
                </div>
                <ins>￥84.50</ins>
                <span>/</span>
                <del>￥84.50</del>
                <span class="r">
                  加入购物车
                </span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- 法南专区 -->
    <div class="floor-list floor-second">
      <div>
        <div class="ab-hd">
          法南
          <span>/</span>
          <span>专区</span>
        </div>
        <div class="ab-img">
          <a href="javascript:;">
            <img src="imgs/ad-center.jpg" alt="">
          </a>
        </div>
        <div class="ab-show">
          <ul>
            <li>
              <div class="ab-part-img">
                <a href="javascript:;">
                  <img src="imgs/meijiu.jpg" alt="">
                </a>
              </div>
              <div class="ab-part-text">
                <h4>普拉迪克桃红葡萄酒PRADIGNAC</h4>
                <div class="ab-des">
                  <span>单支装</span>
                </div>
                <ins>￥84.50</ins>
                <span>/</span>
                <del>￥84.50</del>
                <span class="r">
                  加入购物车
                </span>
              </div>
            </li>
            <li>
              <div class="ab-part-img">
                <a href="javascript:;">
                  <img src="imgs/meijiu.jpg" alt="">
                </a>
              </div>
              <div class="ab-part-text">
                <h4>普拉迪克桃红葡萄酒PRADIGNAC</h4>
                <div class="ab-des">
                  <span>单支装</span>
                </div>
                <ins>￥84.50</ins>
                <span>/</span>
                <del>￥84.50</del>
                <span class="r">
                  加入购物车
                </span>
              </div>
            </li>

            <li>
              <div class="ab-part-img">
                <a href="javascript:;">
                  <img src="imgs/meijiu.jpg" alt="">
                </a>
              </div>
              <div class="ab-part-text">
                <h4>普拉迪克桃红葡萄酒PRADIGNAC</h4>
                <div class="ab-des">
                  <span>单支装</span>
                </div>
                <ins>￥84.50</ins>
                <span>/</span>
                <del>￥84.50</del>
                <span class="r">
                  加入购物车
                </span>
              </div>
            </li>

            <li>
              <div class="ab-part-img">
                <a href="javascript:;">
                  <img src="imgs/meijiu.jpg" alt="">
                </a>
              </div>
              <div class="ab-part-text">
                <h4>普拉迪克桃红葡萄酒PRADIGNAC</h4>
                <div class="ab-des">
                  <span>单支装</span>
                </div>
                <ins>￥84.50</ins>
                <span>/</span>
                <del>￥84.50</del>
                <span class="r">
                  加入购物车
                </span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

<!-- 底部 -->
<%-include('./footer.html')%>



  <script src="js/swiper.min.js"></script>
  <script>
    var mySwiper = new Swiper('.swiper-container', {
      loop: true, // 循环模式选项

      // 如果需要分页器
      pagination: {
        el: '.swiper-pagination',
      },

      // 如果需要前进后退按钮
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    })        
  </script>
</body>

</html>